/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Oct, 2019, 6:07:09 PM
    Author     : Umang
*/


#top{
    color:red;
}

.hostid{
    
    color:blueviolet;
    position:absolute;
    left: 30%;
    top:20%;
    
}
img{
    width:30%;
    height:30%;
}