/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Oct, 2019, 5:49:09 PM
    Author     : Umang
*/

.id{
    color:darkblue
}

#name{
    color:red;
    font-size: 25px;
    
}
